{% extends 'base.html.twig' %}
{# ~PAGE PUBLIC~ #}
{% block title %}
	{{name_site}}
	| 
{% endblock %}

{% block body %}
<h1>PAGE de {{page.user.firstname}}</h1>

<p>{{ app.user.page.presentation}}</p>
 <a href="{{ path('app_kollectors') }}">Retour à la liste</a>
{% endblock %}
