{% extends 'base.html.twig' %}

{% block title %}{{name_site}} | Coup de coeur
{% endblock %}

{% block body %}
<main class="main_custom">
    <div class="container_custom">

    <img class="logo" src="{{ asset('images/logo_playmothek.png') }}" alt="Logo Playmothek">

    <h2 class="title_trvx">page en maintenance</h2>
    <img class="travaux" src="{{ asset('images/pages/maintenace.jpg') }}" alt="">

    <p>Cette page est en cours de création, merci de votre patience et de votre compréhension !</p>
    
    </div>
</main>
{% endblock %}