{% extends 'base.html.twig' %}

{% block title %}{{name_site}} | Dioarama Cirque
{% endblock %}

{% block body %}
<div class="cirque">
    <img class="" src="{{ asset('images/diorama/cirque.jpg') }}" alt="Photo de diorama {{playmo}}">
</div>

{% endblock %}