{% extends 'base.html.twig' %}

{% block title %}{{name_site}} | Dioarama Bureau de poste
{% endblock %}

{% block body %}
<div  class="poste">
    <img src="{{ asset('images/diorama/poste.jpg') }}" alt="Photo de diorama {{playmo}}">
</div>

{% endblock %}