{% extends 'base.html.twig' %}

{% block title %}{{name_site}} | Diorama Garden party
{% endblock %}

{% block body %}
<div class="ville">
<img class="" src="{{ asset('images/diorama/ville.jpg') }}" alt="Photo de diorama {{playmo}}">
</div>

{% endblock %}