/*  .--.      .-'. .--.      .-'.      .
:::::.\:: EFFECT BUTTION ::/:::
'      `--'      `.-' --'      `.-'  */

.btn_play {
    // margin: auto;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2px black;
    // padding: 0.8em 1em;
    text-align: center;
    background-color: $grun;
    font-size: 15px;
    font-family: 'text';
    font-weight: 600;
    width: 115px;
    height: 40px;

    a {
        font-size: 15px;
        font-family: 'text';
        font-weight: 600;
        color: black;
    }
}

.btn_play:hover{
    cursor: pointer;
    background-color: $playmo;
    transition: 1s;
    a{
        color: black;
    }
}

.large{
    width: 140px;
}