// ~Image welcome~
.page_index {
    text-align: center;

    .img_welcome {
        height: 150px;
    }

    .img_top_three {
        margin-top: 2em;
        height: 500px;
    }

    .jingle_index {
        h2 {
            margin-bottom: 2em;
        }
    }

    .klicky:hover {
        cursor: help;
    }
}

.container_main {
    @include flex($just: space-between);

    .left_index {
        margin-left: 0;
        margin-right: 10em;

        .img_left_index {
            height: 360px;
        }
    }

    .right_index {
        margin-right: 0;

        .img_right_index {
            height: 400px;
        }
    }

    .main_index {
        padding-top: 3em;
        text-align: justify;
        line-height: 2em;

        h4 {
            text-align: center;
        }

        span a {
            color: $bold;
            font-weight: bold;
        }
    }

    .good_visit {
        margin-top: 3em;
        text-align: center;
    }

}

span a:hover {
    text-decoration: underline;
}

