<div class="footer">

    <div class="footer_left">
        <h4 class="text">Retrouvez {{playmo}}<sup class="registered">®</sup> sur les réseaux !</h4>
        <div class="networks">       
                <a href="https://www.youtube.com/user/playmobil" target="_blank"><i class="fab fa-youtube" title="YouTube dans un nouvel onglet"></i></a>
                <a href="https://www.facebook.com/PlaymobilFrance" target="_blank"><i class="fab fa-facebook" title="Facebook dans un nouvel onglet"></i></a>
                <a href="https://www.instagram.com/playmobil" target="_blank"><i class="fab fa-instagram-square" title="Instagram dans un nouvel onglet"></i></a>
                <a href="https://twitter.com/playmobil" target="_blank"><i class="fab fa-twitter-square" title="Twitter dans un nouvel onglet"></i></a>
            </div>
            <a class="text" href="https://www.playmobil.fr" target="_blank" title="Ouvrir le site de Playmobil dans un nouvel onglet">Site officiel {{playmo}}</a>
    </div>

    <div class="footer_middle">
        <div class="internal_rules text">
            <a href="">FAQ</a><span class="escape">&nbsp - &nbsp</span> 
            <a href="">Politique de confidentialité</a><span class="escape">&nbsp - &nbsp</span> 
            <a href="">A propos</a><span class="escape">&nbsp - &nbsp</span> 
            <a href="mailto:p.aurelmann.dev@gmail.com">Contact</a>
        </div>

        <div class="text">
            <a href="">Comment s'incrire en tant que collectionneur ?</a>
        </div>
    </div>

      <div class="footer_right">
        <div class="text">
            <p>2022 {{name_site}}.fr | Tous droits réservés ©</p>
        </div>
    </div>
    

</div>