{% extends 'base.html.twig' %}

{% block title %}Page Collectionneur{% endblock %}

{% block body %}
   
MODIFICATION MOT DE PASSE
PROFIL COLLECTIONNEUR

<div>
<p>Modif mot de passe de {{ app.user.firstname}} {{ app.user.name}}</p>
</div>
{# ~Messages for change password~ #}


{% for message in app.flashes('password_error') %}
        <div>{{ message }}</div>
{% endfor %}

<div>
    <form method="POST">
        <label for="newpass">Mot de passe</label>
        <input type="password" id="newpass" name="newpass">

        <label for="newpass2">Confirmer mot de passe</label>
        <input type="password" id="newpass2" name="newpass2">

        <button>Valider</button>
    </form>
</div>
{% endblock %}



