{% extends 'base.html.twig' %}

{% block title %}Page Collectionneur{% endblock %}

{% block body %}
   
MODIFICATION ACTU COLLECTIONNEUR

<div>
<p>Modif Page de {{ app.user.firstname}} {{ app.user.name}}</p>
</div>

<div>
{{ form(form)}}

{# {{app.user.page.presentation}} #}




</div>
{% endblock %}



